.root {
	-fx-background-color: #EEF3F6;
}

.toolbar {
	-fx-background-color: #18374E;
	-fx-padding: 10;
}

.toolbar-label {
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.toolbar-check-connection {
	-fx-text-fill: white;
}

status-label {
	text-align: center;
	-fx-alignment: center;
	-fx-font-size: 14px;
	-fx-text-fill: #18374E;
}

.button {
	-fx-background-color: #99C75F;
	-fx-text-fill: #18374E;
	-fx-font-weight: bold;
	-fx-background-radius: 5;
	-fx-padding: 6 12;
}

.button:hover {
	-fx-background-color: #8DC354;
}

.pane-box {
  -fx-background-color: white;
  -fx-border-color: #18374E;   
  -fx-border-width: 2;         
  -fx-border-radius: 15;        
  -fx-background-radius: 15;    
  -fx-padding: 20;             
  -fx-alignment: center;       
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 15, 0.2, 0, 6); 
}

