.root {
    -fx-background-color: #EEF3F6;
}

.delivery-box {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0, 0, 4);
    -fx-background-radius: 10;
    -fx-padding: 30px;
}

.code-btn {
	-fx-background-color: #99C75F;
	-fx-text-fill: #18374E;
	-fx-font-weight: bold;
	-fx-background-radius: 5;
	-fx-padding: 6 12;
}

.code-btn:hover {
	-fx-background-color: #4A8B3A;
	-fx-text-fill: white;
	-fx-cursor: hand;
}

.tag-btn {
	-fx-background-color: #99C75F;
	-fx-text-fill: #18374E;
	-fx-font-weight: bold;
	-fx-background-radius: 5;
	-fx-padding: 6 12;
}

.tag-btn:hover {
	-fx-background-color: #4A8B3A;
	-fx-text-fill: white;
	-fx-cursor: hand;
}

.input-field {
    -fx-font-size: 14px;
    -fx-text-fill: #222;
    -fx-pref-width: 250px;
    -fx-background-color: white;
    -fx-border-color: #ccc;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}
