#parkingTable {
    -fx-background-color: #ffffff;
    -fx-border-color: #dcdcdc;
    -fx-border-width: 0.5px;
    -fx-background-radius: 5px;
    -fx-border-radius: 8px;
    -fx-table-cell-border-color: transparent;
    -fx-padding: 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.05), 6, 0, 0, 1);
    -fx-max-width: 580px; 
}

.table-view .column-header-background {
    -fx-background-color: #e8f5e9;
    -fx-border-color: transparent;
}

.table-view .column-header{
	 -fx-background-color:#18374E;
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 32px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ccc;
}

.table-view .column-header .label {
     -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-alignment: CENTER; 
   
}

.headline{
	-fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #18374E;
}


.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cell-size: 28px;
}

.table-row-cell:odd {
    -fx-background-color: #cce5ff;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: black; 
}

.table-cell {
    -fx-font-size: 13px;
    -fx-alignment: CENTER; 
}

.spinner {
  border: 2px solid #f3f3f3;
  border-top: 2px solid #4CAF50; 
  border-radius: 50%;
  width: 16px;
  height: 16px;
  animation: spin 0.6s linear infinite;
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
}