.root {
    -fx-background-color: #EEF3F6;
}

.headline{
	-fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #18374E;
}

.Availability-box {
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.15), 10, 0, 0, 4);
    -fx-background-radius: 10;
    -fx-padding: 30px;
}