.root {
    -fx-background-color: #EEF3F6;
}

.mainContainer {
    -fx-background-color: #ffffff;
    -fx-padding: 20;
    -fx-spacing: 20;
    -fx-background-radius: 10;
    -fx-border-color: #cccccc;
    -fx-border-radius: 10;
    -fx-border-width: 1;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.1), 10, 0.2, 0, 4);
}


.table-view .column-header-background {
    -fx-background-color: #e8f5e9;
    -fx-border-color: transparent;
}

.table-view .column-header{
	 -fx-background-color:#18374E;
}

.table-view .column-header,
.table-view .filler {
    -fx-size: 32px;
    -fx-border-width: 0 0 1 0;
    -fx-border-color: #ccc;
}

.table-view .column-header .label {
     -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-font-size: 13px;
    -fx-alignment: CENTER; 
   
}

.table-row-cell {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-cell-size: 28px;
}

.table-row-cell:odd {
    -fx-background-color: #cce5ff;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: black; 
}

.table-cell {
    -fx-font-size: 13px;
    -fx-alignment: CENTER; 
}

.combo-box {
    -fx-pref-width: 100px;
    -fx-background-color: #ffffff;
    -fx-border-color: #cccccc;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
}

#headline {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-text-fill: #223366;
}