.root {
	-fx-background-color: #EEF3F6;
}

.toolbar {
	-fx-background-color: #18374E;
	-fx-padding: 10;
}

.toolbar-label {
	-fx-text-fill: white;
	-fx-font-size: 20px;
	-fx-font-weight: bold;
}

.button {
	-fx-background-color: #99C75F;
	-fx-text-fill: #18374E;
	-fx-font-weight: bold;
	-fx-background-radius: 5;
	-fx-padding: 6 12;
}

.button:hover {
	-fx-background-color: #4A8B3A;
	-fx-text-fill: white;
	-fx-cursor: hand;
}

.menu-box {
	-fx-background-color: #f5f9fc;
	-fx-border-color: #d0dce5;
	-fx-border-width: 0 1px 0 0;
	-fx-border-style: solid;
}

.menu-button {
	-fx-background-color: transparent;
    -fx-text-fill: #0e2b47;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-padding: 15 25;
    -fx-alignment: center;
    -fx-border-color: transparent transparent #d0dce5 transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-pref-height: 55;
    -fx-cursor: hand;
}

.menu-button:hover {
	-fx-background-color: #8abf4a;
}

.exit-button {
	-fx-background-color: #cccccc;
	-fx-text-fill: #ff0000;
	-fx-font-weight: bold;
	-fx-background-radius: 3px;
	-fx-padding: 10 20;
	-fx-font-size: 12px;
}

.exit-button:hover {
	-fx-background-color: #bbbbbb;
}